* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
	background-color: lightgrey;
    padding: 30px;
}

#modal {
    width: 300px;
    /* padding: 0; */
}

#modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

#close-modal-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label, .input-radio, .input-radio p {
    margin-bottom: 10px;
}

.input-radio input, #submit-book-button {
    cursor: pointer;
}

.book-card {
	border: black solid 1px;
    padding: 20px;
}

.books-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-items: space-around;
    margin: 50px;
}